/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.row::after,
footer::after,
.contact-form form::after {
  display: table;
  clear: both;
  content: "";
}

/* Navigation Bar */
.navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  color: #070335;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 5px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-name h3 {
  font-family: "Russo One", sans-serif;
  font-weight: lighter;
  letter-spacing: 1.5px;
}

.menu-btn {
  display: none;
}

.navbar ul {
  list-style: none;
  text-align: right;
  width: 60%;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #070335;
  display: block;
  font-size: 75%;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.navbar ul li a:hover,
.navbar ul li a:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar ul li a.navbar-home {
  font-weight: 600;
}
.navbar ul li a.navbar-home:hover,
.navbar ul li a.navbar-home:active {
  background-color: inherit;
}

.navbar ul li a.navbar-contact {
  background-color: #070335;
  border: 1px solid #070335;
  color: #fff;
  cursor: pointer;
  margin-left: 40px;
  padding: 13px;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.navbar ul li a.navbar-contact:hover,
.navbar ul li a.navbar-contact:active {
  background-color: inherit;
  border: 1px solid;
  color: #070335;
}

@media screen and (max-width: 1300px) {
  .navbar {
    animation: navBarEntree 1s forwards 1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
    position: static;
    padding: 15px 30px;
  }

  @keyframes navBarEntree {
    from {
      opacity: 0;
      transform: translate(0, -100%);
    }

    to {
      opacity: 1;
      transform: translate((0, 0));
    }
  }

  .navbar-name {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu-btn {
    color: #0b045c;
    cursor: pointer;
    display: block;
  }

  .navbar .fa-bars {
    font-size: 110%;
  }

  .navbar ul {
    display: none;
  }

  .responsive {
    animation: responsiveEntree 1s forwards 1;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @keyframes responsiveEntree {
    from {
      opacity: 0;
      transform: translate(0, -100%);
    }

    to {
      opacity: 1;
      transform: translate((0, 0));
    }
  }

  .responsive .navbar-name h3 {
    color: #0b045c;
  }

  .responsive .fa-bars {
    font-size: 110%;
  }

  .responsive ul {
    list-style: none;
    margin-top: 30px;
  }

  .responsive ul li {
    margin-bottom: 20px;
  }

  .responsive ul li a {
    color: #494848;
    cursor: pointer;
    display: block;
    padding: 10px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .navbar {
    padding: 15px 70px;
  }

  .responsive {
    padding: 30px 70px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .responsive {
    height: auto;
  }
}

/* Section One - Background Image */
.section-one {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.jpg") center/cover fixed;
  background-color: #070335;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.sect1-item {
  text-align: center;
}

.sect1-item h4 {
  color: #b8b5b5;
  font-weight: lighter;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.sect1-item h1 {
  font-size: 200%;
  margin-bottom: 10px;
}

.sect1-item p {
  color: #b8b5b5;
  margin-bottom: 20px;
  padding: 0px 20%;
}

.sect1-item a {
  background-color: #070335;
  border: 1px solid #070335;
  color: #fff;
  display: inline-block;
  font-size: 90%;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.sect1-item a:hover,
.sect1-item a:active {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .sect1-item h4 {
    font-size: 90%;
  }

  .sect1-item h1 {
    font-size: 150%;
  }

  .sect1-item p {
    padding: 0px 30px;
    font-size: 90%;
  }

  .sect1-item a {
    font-size: 80%;
    padding: 12px 22px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  .sect1-item h4 {
    font-size: 100%;
  }

  .sect1-item h1 {
    font-size: 200%;
  }

  .sect1-item p {
    padding: 0px 100px;
    font-size: 100%;
  }

  .sect1-item a {
    font-size: 90%;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .sect1-item h4 {
    font-size: 85%;
  }

  .sect1-item h1 {
    font-size: 180%;
  }

  .sect1-item p {
    padding: 0px 70px;
    font-size: 80%;
  }

  .sect1-item a {
    font-size: 80%;
    padding: 15px 25px;
  }
}

/* Section Two - Services */
.section-two {
  padding: 100px 0px;
}

.sect2-column {
  float: left;
  height: 430px;
  padding: 0px 10px;
  width: 25%;
}

.sect2-card {
  border: 1px solid #a9a9a9;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
  width: 100%;
}
.sect2-card:hover,
.sect2-card:active {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5px);
}

.sect2-img {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 250px;
  margin-bottom: 20px;
}

.img-turnkey {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg1-turnkey.jpg") center/cover;
}

.img-constr {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg1-constr.jpg") center/cover;
}

.img-interior {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg1-interior.jpg") center/cover;
}

.img-site {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg1-site.jpg") center/cover;
}

.sect2-card h3 {
  color: #070335;
  font-size: 100%;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.sect2-card p {
  color: #696969;
  font-size: 90%;
  padding: 0px 30px;
}

@media screen and (max-width: 1300px) {
  .section-two {
    padding: 50px 30px;
  }

  .sect2-column {
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .sect2-card {
    padding-bottom: 30px;
  }
  .sect2-card:hover,
  .sect2-card:active {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, 0) scale(1.005, 1.005);
  }

  .sect2-img {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .section-two {
    padding: 100px;
  }

  .sect2-img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-two {
    padding: 50px 70px;
  }
}

/* Section Three - Sectors */
.section-three {
  background-color: #eeeeee;
  padding: 100px 0px;
}

.sect3-heading {
  margin-bottom: 20px;
  text-align: center;
}

.sect3-heading h2 {
  font-size: 120%;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.sect3-heading p {
  color: #696969;
}

.sect3-column {
  float: left;
  height: 330px;
  padding: 0px 20px;
  width: 33.33333%;
}

.sect3-card {
  border: 1px solid #a9a9a9;
  height: 100%;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.sect3-card:hover,
.sect3-card:active {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05);
}

.sect3-img {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 150px;
  margin-bottom: 20px;
}

.img-buildconstr {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg2-buldconstr.jpg") center/cover;
}

.img-infraconstr {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg2-insfraconst.jpg") center/cover;
}

.img-industrconstr {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg2-industconst.jpg") center/cover;
}

.sect3-card h3 {
  margin-bottom: 5px;
  padding: 0px 20px;
}

.sect3-card p {
  margin-bottom: 10px;
  padding: 0px 20px;
}

.sect3-card a {
  color: #070335;
  display: inline-block;
  font-weight: 500;
  padding: 0px 20px;
  transition: all 0.3s;
}
.sect3-card a:hover,
.sect3-card a:active {
  color: #ff0000;
}

@media screen and (max-width: 1300px) {
  .section-three {
    padding: 50px 30px;
  }

  .sect3-heading {
    margin-bottom: 30px;
    text-align: left;
  }

  .sect3-column {
    margin-bottom: 20px;
    height: auto;
    padding: 0px;
    width: 100%;
  }

  .sect3-card {
    padding-bottom: 30px;
  }
  .sect3-card:hover,
  .sect3-card:active {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.005, 1.005);
  }

  .sect3-card h3 {
    padding: 0px 20px;
    text-decoration: underline;
  }

  .sect3-card p {
    padding: 0px 20px;
  }

  .sect3-card a {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .section-three {
    padding: 100px;
  }

  .sect3-card h3 {
    padding: 0px 50px;
  }

  .sect3-card p {
    padding: 0px 50px;
  }

  .sect3-card a {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-three {
    padding: 50px 70px;
  }
}

/* Section Four - Projects */
.section-four {
  padding: 100px 70px;
}

.sect4-heading {
  margin-bottom: 20px;
}

.sect4-heading h2 {
  font-size: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sect4-column {
  float: left;
  height: 300px;
  padding: 0px 10px;
  width: 50%;
}

.sect4-col1 {
  padding-bottom: 20px;
  padding-left: 0;
  width: 60%;
}

.sect4-col2 {
  padding-bottom: 20px;
  padding-right: 0;
  width: 40%;
}

.sect4-col3 {
  padding-left: 0;
}

.sect4-col4 {
  padding-right: 0;
}

.sect4-card {
  height: 100%;
  transition: all 0.3s;
}
.sect4-card:hover,
.sect4-card:active {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.009, 1.009);
}

.sect4-img {
  background-color: #070335;
  display: block;
  height: 100%;
  width: 100%;
}

.img-proj1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg3-proj1.jpg") center/cover;
}
.img-proj1:hover,
.img-proj1:active {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bkg3-proj1.jpg") center/cover;
}

.img-proj2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg3-proj2.jpg") center/cover;
}
.img-proj2:hover,
.img-proj2:active {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bkg3-proj2.jpg") center/cover;
}

.img-proj3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg3-proj3.jpg") center/cover;
}
.img-proj3:hover,
.img-proj3:active {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bkg3-proj3.jpg") center/cover;
}

.img-proj4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bkg3-proj4.jpg") center/cover;
}
.img-proj4:hover,
.img-proj4:active {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bkg3-proj4.jpg") center/cover;
}

@media screen and (max-width: 600px) {
  .section-four {
    padding: 50px 30px;
  }

  .sect4-column {
    padding: 0px;
    width: 100%;
  }

  .sect4-col1 {
    width: 100%;
  }

  .sect4-col2 {
    width: 100%;
  }

  .sect4-card:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05, 1.05);
  }
}

/* Section Five - Blogs */
.section-five {
  background-color: #eeeeee;
  padding: 100px 0px;
}

.sect5-heading {
  margin-bottom: 20px;
}

.sect5-heading p {
  margin-bottom: 5px;
  padding-left: 10px;
}

.sect5-heading h2 {
  font-size: 120%;
  letter-spacing: 2px;
  padding-left: 10px;
  text-transform: uppercase;
}

.sect5-column {
  float: left;
  height: 320px;
  padding: 0px 10px;
  width: 20%;
}

.sect5-card {
  border: 1px solid #a9a9a9;
  height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  transition: all 0.3s;
}
.sect5-card:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.sect5-img {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 150px;
  margin-bottom: 20px;
}

.img-prep-home {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bkg4-prep-home.jpg") center/cover;
}

.img-kitchen {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bkg4-kitchen.jpg") center/cover;
}

.img-house {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bkg4-house.jpg") center/cover;
}

.img-company {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bkg4-company.jpg") center/cover;
}

.img-remodel {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bkg4-remodel.jpg") center/cover;
}

.sect5-card h3 a {
  color: #0b045c;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0px 10px;
  text-decoration: underline;
  transition: all 0.1s;
}
.sect5-card h3 a:hover {
  color: #fd5151;
}

.sect5-card p {
  color: #494848;
  padding: 0px 10px;
}

.sect5-footing {
  margin-top: 20px;
}

.sect5-footing p {
  padding-left: 10px;
}

.sect5-footing p a {
  color: #fd5151;
  font-weight: 600;
  transition: all 0.3s;
}
.sect5-footing p a:hover,
.sect5-footing p a:active {
  color: #ff8a04;
}

@media screen and (max-width: 1300px) {
  .section-five {
    padding: 50px 30px;
  }

  .sect5-heading p {
    padding: 0;
  }

  .sect5-heading h2 {
    padding-left: 0px;
  }

  .sect5-column {
    height: auto;
    margin-bottom: 20px;
    padding: 0px;
    width: 100%;
  }

  .sect5-card h3 a {
    padding: 0px 20px;
  }

  .sect5-card p {
    padding: 0px 20px;
  }

  .sect5-footing {
    margin-top: 0px;
  }

  .sect5-footing p {
    padding-left: 0px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
  .section-five {
    padding: 50px 100px;
  }

  .sect5-card h3 a {
    padding: 0px 40px;
  }

  .sect5-card p {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-five {
    padding: 50px 70px;
  }
}

/* Footer */
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bkg-footer.jpg") center/cover fixed;
  background-color: #070335;
  color: #fff;
  padding: 100px 70px;
}

.footer-item {
  float: left;
  padding-right: 10%;
  width: 50%;
}

.footer-item h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-item .footer-item-head p {
  color: #b8b5b5;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.footer-item ul {
  list-style: none;
  margin-bottom: 30px;
}

.footer-item ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-item ul li a {
  color: #fff;
  display: block;
  transform: scale(1.2, 1.2);
  transition: all 0.3s;
}
.footer-item ul li a:hover,
.footer-item ul li a:active {
  color: #a9a9a9;
  transform: translateY(-4px) scale(1.5, 1.5);
}

.contact-form {
  float: left;
  width: 400px;
}

.contact-form h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.contact-form form label {
  display: inline-block;
  margin-bottom: 5px;
}

.contact-form form input {
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 10px;
  transition: all 0.3s;
  width: 100%;
}
.contact-form form input:hover,
.contact-form form input:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form form textarea {
  background: inherit;
  border: 1px solid #fff;
  color: #fff;
  height: 150px;
  padding: 10px;
  transition: all 0.3s;
  width: 100%;
}
.contact-form form textarea:hover,
.contact-form form textarea:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form form button {
  background-color: #ff0000;
  border: none;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 8px 15px;
  transition: all 0.3s;
}
.contact-form form button:hover,
.contact-form form button:active {
  background-color: rgba(255, 0, 0, 0.8);
  transform: scale(1.09, 1.09);
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 50px 30px;
  }

  .footer-item {
    margin-bottom: 40px;
    padding-right: 0;
    width: 100%;
  }

  .footer-item h2 {
    text-decoration: underline;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form h2 {
    text-decoration: underline;
  }

  .contact-form form button {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  footer {
    padding: 70px;
  }
}
@media screen and (max-width: 1000px) and (max-height: 500px) {
  footer {
    padding: 70px;
  }

  .contact-form form button {
    padding: 15px 25px;
  }
}

/* Modal section */
.modal-box {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.modal-item {
  background: #fff;
  border-radius: 5px;
  padding: 70px 40px;
  position: relative;
  width: 500px;
}

.modal-item::after {
  clear: both;
  content: "";
  display: table;
}

.close-btn {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 12px;
  transform: rotateZ(45deg);
}

.modal-item h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.modal-item input {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.modal-item textarea {
  border: 1px solid #a9a9a9;
  display: block;
  height: 200px;
  padding: 10px;
  width: 100%;
}

.modal-item button {
  background-color: #070335;
  border: 1px solid #070335;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 15px 20px;
}

@media screen and (max-width: 1300px) {
  .modal-box {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .modal-box {
    padding: 0px 10px;
  }

  .modal-item {
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    height: 90%;
  }

  .modal-item textarea {
    border: 1px solid #a9a9a9;
    display: block;
    height: 110px;
    padding: 10px;
    width: 100%;
  }
}
