/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #070335;
  letter-spacing: 1px;
}

p {
  color: #696969;
  font-size: 90%;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

/* Navigation Bar */
.navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  color: #070335;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 5px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-name h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.nav-menu-btn {
  display: none;
}

.navbar ul {
  list-style: none;
  text-align: right;
  width: 60%;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #070335;
  display: block;
  font-size: 75%;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar ul li a.navbar-home {
  font-weight: 600;
}
.navbar ul li a.navbar-home:hover {
  background-color: inherit;
}

.navbar ul li a.navbar-contact {
  background-color: #070335;
  border: 1px solid #070335;
  color: #fff;
  cursor: pointer;
  margin-left: 40px;
  padding: 13px;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.navbar ul li a.navbar-contact:hover {
  background-color: inherit;
  border: 1px solid;
  color: #070335;
}

@media screen and (max-width: 1300px) {
  .navbar {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
    position: static;
    padding: 15px 30px;
  }

  .navbar-name {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-menu-btn {
    color: #0b045c;
    cursor: pointer;
    display: block;
  }

  .nav-menu-bar {
    background-color: #070335;
    border-radius: 300px;
    padding: 1px;
    width: 20px;
  }

  .nav-menu-bar1 {
    margin-bottom: 5px;
  }

  .navbar ul {
    display: none;
  }
}

/* Responsive Bar */
.resbar {
  background-color: #fff;
  left: 0;
  padding: 30px;
  padding-bottom: 50px;
  position: absolute;
  top: -100%;
  width: 100%;
  z-index: 11;
}

@keyframes resbarEntree {
  from {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
    top: -100%;
  }

  to {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0);
    top: 0%;
  }
}
@keyframes resbarExit {
  from {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0);
    top: 0%;
  }

  to {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
    top: -100%;
  }
}

.resbar-name {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

.resbar-name h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.res-menu-btn {
  color: #0b045c;
  cursor: pointer;
  padding: 10px;
  transform: rotateZ(45deg);
}

.res-menu-bar {
  background-color: #070335;
  border-radius: 300px;
  padding: 1px;
  width: 20px;
}

.res-menu-bar1 {
  transform: rotateZ(90deg);
}

.res-menu-bar2 {
  transform: translateY(-2px);
}

.resbar ul {
  list-style: none;
}

.resbar ul li a {
  color: #070335;
  display: block;
  font-size: 80%;
  padding: 20px 0px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}
.resbar ul li a:hover {
  background-color: #f1f1f1;
}

.resbar ul li a.resbar-home {
  font-weight: 900;
}

.resbar ul li a.resbar-contact {
  cursor: pointer;
}

/* Section One - Background Image */
.section-one {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.jpg") center/cover fixed;
  background-color: #070335;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.sect1-container {
  text-align: center;
}

.sect1-container h4 {
  color: #b8b5b5;
  font-weight: 400;
  margin-bottom: 10px;
}

.sect1-container h1 {
  color: #fff;
  font-size: 200%;
  margin-bottom: 10px;
}

.sect1-container p {
  color: #b8b5b5;
  margin-bottom: 20px;
  padding: 0px 20%;
}

.sect1-container a {
  background-color: #070335;
  border: 1px solid #070335;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 90%;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.sect1-container a:hover {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  .sect1-container h4 {
    font-size: 100%;
  }

  .sect1-container h1 {
    font-size: 200%;
  }

  .sect1-container p {
    padding: 0px 100px;
    font-size: 100%;
  }

  .sect1-container a {
    font-size: 90%;
    padding: 15px 25px;
  }
}
@media screen and (max-width: 600px) {
  .section-one {
    height: 85vh;
  }

  .sect1-container h4 {
    font-size: 90%;
  }

  .sect1-container h1 {
    font-size: 150%;
  }

  .sect1-container p {
    padding: 0px 30px;
    font-size: 90%;
  }

  .sect1-container a {
    font-size: 80%;
    padding: 12px 22px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .section-one {
    height: calc(100vh - 50px);
  }
}

/* Section Two - Services */
.section-two {
  padding: 100px 20px;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-heading h2 {
  font-size: 120%;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.sect2-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.sect2-main-box {
  border: 1px solid #a9a9a9;
  text-align: center;
  transition: all 0.5s;
}
.sect2-main-box:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.sect2-image-box {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 200px;
}

.sect2-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img1.jpg") center/cover;
}

.sect2-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img2.jpg") center/cover;
}

.sect2-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img3.jpg") center/cover;
}

.sect2-img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect2-img4.jpg") center/cover;
}

.sect2-text-box {
  padding: 30px;
}

.sect2-text-box h3 {
  font-size: 100%;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1300px) {
  .sect2-container {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .sect2-main-box:hover {
    transform: translateY(0px) scale(1.01);
  }
}
@media screen and (max-width: 900px) {
  .sect2-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .section-two {
    padding: 50px 30px;
  }

  .section-heading {
    text-align: left;
  }

  .sect2-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

/* Section Three - Sectors */
.section-three {
  background-color: #eeeeee;
  padding: 100px 20px;
}

.sect3-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.sect3-main-box {
  border: 1px solid #a9a9a9;
  transition: all 0.3s;
}
.sect3-main-box:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.sect3-image-box {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 200px;
}

.sect3-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-img1.jpg") center/cover;
}

.sect3-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-img2.jpg") center/cover;
}

.sect3-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect3-img3.jpg") center/cover;
}

.sect3-text-box {
  padding: 30px 20px;
}

.sect3-text-box h3 {
  margin-bottom: 5px;
}

.sect3-text-box p {
  margin-bottom: 10px;
}

.sect3-text-box a {
  color: #070335;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
}
.sect3-text-box a:hover {
  color: #ff0000;
}

@media screen and (max-width: 900px) {
  .sect3-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media screen and (max-width: 600px) {
  .section-three {
    padding: 50px 30px;
  }

  .sect3-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

/* Section Four - Projects */
.section-four {
  padding: 100px 20px;
}

.sect4-container {
  display: grid;
  grid-gap: 8px;
  grid-template-areas:
    "b1 b2 b3"
    "b1 b4 b5";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.sect4-main-box {
  border-radius: 10px;
  transition: all 0.3s;
}
.sect4-main-box:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.sect4-main-box-1 {
  grid-area: b1;
}

.sect4-main-box-2 {
  grid-area: b2;
}

.sect4-main-box-3 {
  grid-area: b3;
}

.sect4-main-box-4 {
  grid-area: b4;
}

.sect4-main-box-5 {
  grid-area: b5;
}

.sect4-image-box {
  background-color: #070335;
  border-radius: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.sect4-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img1.jpg") center/cover;
}
.sect4-img1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sect4-img1.jpg") center/cover;
}

.sect4-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img2.jpg") center/cover;
}
.sect4-img2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sect4-img2.jpg") center/cover;
}

.sect4-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img3.jpg") center/cover;
}
.sect4-img3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sect4-img3.jpg") center/cover;
}

.sect4-img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img4.jpg") center/cover;
}
.sect4-img4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sect4-img4.jpg") center/cover;
}

.sect4-img5 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/sect4-img5.jpg") center/cover;
}
.sect4-img5:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/sect4-img5.jpg") center/cover;
}

@media screen and (max-width: 900px) {
  .sect4-container {
    grid-template-areas:
      "b1 b1"
      "b2 b3"
      "b5 b3";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }

  .sect4-main-box-1 {
    grid-area: b1;
  }

  .sect4-main-box-2 {
    grid-area: b2;
  }

  .sect4-main-box-3 {
    grid-area: b3;
  }

  .sect4-main-box-4 {
    grid-area: b4;
  }

  .sect4-main-box-5 {
    grid-area: b5;
  }
}
@media screen and (max-width: 600px) {
  .section-four {
    padding: 50px 30px;
  }

  .sect4-container {
    grid-gap: 10px;
    grid-template-areas:
      "b1"
      "b2"
      "b3"
      "b4"
      "b5";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 300px);
  }

  .sect4-main-box-1 {
    grid-area: b1;
  }

  .sect4-main-box-2 {
    grid-area: b2;
  }

  .sect4-main-box-3 {
    grid-area: b3;
  }

  .sect4-main-box-4 {
    grid-area: b4;
  }

  .sect4-main-box-5 {
    grid-area: b5;
  }
}

/* Section Five - Blogs */
.section-five {
  background-color: #eeeeee;
  padding: 100px 20px;
}

.sect5-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.sect5-main-box {
  border: 1px solid #a9a9a9;
  transition: all 0.3s;
}
.sect5-main-box:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.sect5-image-box {
  background-color: #070335;
  border-bottom: 1px solid #a9a9a9;
  height: 150px;
}

.sect5-img1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sect5-img1.jpg") center/cover;
}

.sect5-img2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sect5-img2.jpg") center/cover;
}

.sect5-img3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sect5-img3.jpg") center/cover;
}

.sect5-img4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sect5-img4.jpg") center/cover;
}

.sect5-img5 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/sect5-img5.jpg") center/cover;
}

.sect5-text-box {
  padding: 20px 10px;
}

.sect5-text-box h3 {
  margin-bottom: 5px;
}

.sect5-text-box h3 a {
  color: #0b045c;
  font-weight: 500;
  text-decoration: underline;
  transition: all 0.1s;
}
.sect5-text-box h3 a:hover {
  color: #fd5151;
}

@media screen and (max-width: 1300px) {
  .sect5-container {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .sect5-text-box {
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .sect5-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (max-width: 600px) {
  .section-five {
    padding: 50px 30px;
  }

  .sect5-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

/* Footer */
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bkg-footer.jpg") center/cover fixed;
  background-color: #070335;
  color: #fff;
  padding: 100px 70px;
}

.footer-container {
  display: grid;
  grid-template-areas: auto;
  grid-template-columns: 60% 40%;
}

.footer-main-box-1 {
  padding-right: 20px;
}

.footer-main-box h2 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-main-box p {
  color: #b8b5b5;
  margin-bottom: 20px;
}

.footer-main-box ul {
  list-style: none;
  margin-bottom: 30px;
}

.footer-main-box ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-main-box ul li a {
  color: #fff;
  display: block;
  transform: scale(1.2);
  transition: all 0.3s;
}
.footer-main-box ul li a:hover {
  color: #a9a9a9;
  transform: translateY(-4px) scale(1.5);
}

.footer-contact-form label {
  color: #b8b5b5;
  display: block;
  margin-bottom: 5px;
}

.footer-contact-form input {
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-bottom: 20px;
  padding: 8px 10px;
  transition: all 0.3s;
  width: 100%;
}
.footer-contact-form input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-contact-form textarea {
  background: inherit;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s;
  width: 100%;
}
.footer-contact-form textarea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-btn {
  text-align: right;
}

.footer-contact-form button {
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  transition: all 0.3s;
}
.footer-contact-form button:hover {
  background-color: rgba(255, 0, 0, 0.8);
  transform: scale(1.09);
}

@media screen and (max-width: 1300px) {
  footer {
    padding: 70px 20px;
  }
}
@media screen and (max-width: 900px) {
  .footer-contact-form textarea {
    margin-bottom: 20px;
  }

  .footer-contact-form button {
    display: block;
    padding: 15px 0px;
    width: 100%;
  }
  .footer-contact-form button:hover {
    transform: scale(0.98);
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 50px 30px;
  }

  .footer-container {
    grid-template-columns: 100%;
  }

  .footer-main-box-1 {
    margin-bottom: 20px;
    padding-right: 0px;
  }
}

/* Modal section */
.modal-box {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.modal-item {
  background: #fff;
  border-radius: 5px;
  padding: 70px 40px;
  position: relative;
  width: 500px;
}

.modal-item::after {
  clear: both;
  content: "";
  display: table;
}

.close-btn {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 12px;
  transform: rotateZ(45deg);
}

.modal-item h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.modal-item input {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.modal-item textarea {
  border: 1px solid #a9a9a9;
  display: block;
  height: 200px;
  padding: 10px;
  width: 100%;
}

.modal-item button {
  background-color: #070335;
  border: 1px solid #070335;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 15px 20px;
}

@media screen and (max-width: 1300px) {
  .modal-box {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
  .modal-item {
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    height: 90%;
  }

  .modal-item textarea {
    border: 1px solid #a9a9a9;
    display: block;
    height: 110px;
    padding: 10px;
    width: 100%;
  }
}
